[Desktop Entry]
Type=Application
Name=OPAL Input
Exec=/usr/local/libexec/opal/opal-input
NoDisplay=true
X-KDE-Wayland-Interfaces=org_kde_kwin_fake_input
